server/nodes.json
[{"type":"tab","id":"3057878c.cfa878","label":"Flow 1"},{"id":"166e60ad.e9919f","type":"twitter-credentials","z":"3057878c.cfa878","screen_name":"@sjchmiela"},{"id":"c6d1f8bb.392e08","type":"websocket-listener","z":"3057878c.cfa878","path":"/ws/positions","wholemsg":"false"},{"id":"f305ec34.0cfa1","type":"websocket-listener","z":"","path":"/positions","wholemsg":"false"},{"id":"c2999912.3d6668","type":"websocket out","z":"3057878c.cfa878","name":"Output positions","server":"c6d1f8bb.392e08","client":"","x":571.5,"y":485,"wires":[]},{"id":"3d562d36.c2a9d2","type":"http in","z":"3057878c.cfa878","name":"Update beacon position","url":"/beacons/","method":"get","swaggerDoc":"","x":150.5,"y":527,"wires":[["3157ca2d.cea836","fa064a5.f05f9b8","c2999912.3d6668"]]},{"id":"3157ca2d.cea836","type":"debug","z":"3057878c.cfa878","name":"","active":true,"console":"false","complete":"payload","x":391.5,"y":348,"wires":[]},{"id":"fa064a5.f05f9b8","type":"http response","z":"3057878c.cfa878","name":"OK","x":377.5,"y":597,"wires":[]}]